.DialogQuestionYesNo {
    font-size: 1rem;

    .Title {
        font-size: 1.25em;
        font-weight: 500;
    }
    .Question {

    }
    .Actions {
        display: flex;
        justify-content: flex-end;

        .Action {
            &.ActionYes {
            }
            &.ActionNo {
            }
        }
    }
}