
$categories_color: white;
$categories_paddingtop: 2rem;
$categories_paddingright: 2rem;
$categories_paddingbottom: 2rem;
$categories_paddingleft: 2rem;
$categories_minheight: 64vh;

$category__tabtext_borderwidth: 7px;

$category__tabtext_paddingx: .5rem;
$category__tabtext_paddingy: .5rem;

$category__tabtext_hoverbordercolor: blue;
$category__tabtext_fontsize: 1rem;

//////////// $category__tabtext_zindex: 3;
//////////////////// $category__tabpane_zindex: 2;
$category__tabpane_padding: 1rem;

.DialogInfo {
  &.categories {
    font-size: 1rem;
    background: gray;
    position: relative;
    color: $categories_color;
    padding: $categories_paddingtop;
    min-height: $categories_minheight;

    min-width: 40vw;
    max-width: 50vw;
  }
  .category__tabs {
    background: gray; // lightgray;
    > .category__tab:not(:first-child) {
      margin-left: 4px;
    }
  }
  .category__tab {
    --category__tabheight: calc((#{$category__tabtext_borderwidth} * 2) + (#{$category__tabtext_paddingy} * 2) + #{$category__tabtext_fontsize});
    display: inline-flex;
    flex-direction: column;
    height: var(--category__tabheight);
    &::after {
      content: '\00A0';
      background: black;
      align-self: center;
      margin-left: $category__tabtext_borderwidth;
      margin-right: $category__tabtext_borderwidth;
      height: calc(#{$category__tabtext_borderwidth} * 2);
      margin-top: calc(#{$category__tabtext_borderwidth} * -1.5);
    }
  }
  .category__tabtext {
    background: #A0D6B4; // orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $category__tabtext_borderwidth solid $category__tabtext_hoverbordercolor;
    padding: 0 $category__tabtext_paddingx;
    font-size: inherit;
    cursor: pointer;
    &.active {
      /////////////////////// z-index: $category__tabtext_zindex; // default is auto
    }
  }
  .category__tabpane {
    background: #A0D6B4;
    position: absolute;
    /////////////// z-index: $category__tabpane_zindex;
    border: $category__tabtext_borderwidth solid $category__tabtext_hoverbordercolor;
    top: calc(#{$categories_paddingtop} + var(--category__tabheight) - #{$category__tabtext_borderwidth});
    left: $categories_paddingleft;
    right: $categories_paddingright;
    bottom: $categories_paddingbottom;
    visibility: hidden;
    padding: $category__tabpane_padding;
  }
  .category__tabtext.active + .category__tabpane {
    visibility: visible;
  }
}

@media screen and (max-width: 800px) {
  .DialogInfo.categories {
    min-width: 100vw;
  }
}
